
body {
    background-color: rgb(201, 192, 192);
}

img {
    width : 500px;
    height : 300px;
    
}


.beach1 {

    transform: skew(20deg, 20deg);
    z-index: 3;
    top :300px;
    left : 300px;
    position :absolute
}


.beach2 {

    transform: skew(20deg, 20deg);
    z-index: 2;
    position :absolute;
    top : 350px;
    left : 600px;
}


.beach3 {

    transform: skew(20deg, 20deg);
    z-index: 1;
    position :absolute;
    top : 350px;
    left : 900px;
}

/* rgba (r,g,b,a)   a: 0~1 a: 투명도조절 rgb (r,g,b)  */



/* 

.container {
    background-color:grey;
    width : 1000px;
    height: 500px;
    position : relative;
}

img {
    width : 300px;
    height : 200px;
    transform :skewY(30deg)

    position : absolute;
    기준? 
    -조상 realtive 없으면 -> body 기준
    -조상 relative 있으면 -> 해당 요소 기준
}

.beach1 {
    top: 180px;
    left: 200px;
    z-index:3;
}


.beach2 {
    top: 150px;
    left: 350px;
    z-index:2;
}

.beach1 {
    top: 120px;
    left: 500px;
    z-index:1;
}



*/