:root {
    --height-header :100px;
}


/*  1. 기본 태그 설정 */
body {
    box-sizing: border-box;
    /* content + padding + border ->크기로 계싼 */
}


a {
    text-decoration: none;
    /* 밑에 있는 밑줄 없앰 */
    color:#000;
}

/* 2. header 설정 */
header {
    background-color: pink;
    height : var(--height-header);
    display: flex;
    justify-content: space-between;
    align-items: center;  
    /* height 의 정가운데로 배치해줌 */
    padding: 0 2rem;
}


.icon-menu {
    display:block;
    font-size: 32px;;
}

.list-menu {
    display: none;
}

.list-menu > a {
    margin-left: 16px;
}

/* 3. 토글 메뉴 */

.toggle-menu {
    background-color: palegoldenrod;
    display: block;
    padding: 0 2rem;
}

.toggle-menu-container {
    display: flex;
    flex-direction: column;

}

.toggle-menu-container >a {
    margin:12px 0;

}

.d-none {
    display: none;

}

@media (min-width: 992px) {
    .icon-menu {
        display: none;
    }
    .list-menu {
            display: block;
        
    }


/* 사이즈가 992보다 클때 밑으로 내려오는 메뉴들이 안보여야함
4. toggle-,menu 연 상태에서 width가 커지면 여전히 open 되어 있으므로 none 처리 */

.toggle-menu {
    display: none;
}

}
