<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>실습 40</title>

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
      body {
        background-color: rgb(241, 232, 233);
      }
    </style>
  </head>
  <body>
    <h1>실습 40</h1>

    <p>
      페이지 접속했을 때 위와 같은 창 보이게 하고, "오늘 그만 보기" 선택한 후
      "닫기" 하면 브라우저를 껐다 켜도 창이 보이지 않게 하기
    </p>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            안녕하세요 쿠키 실습 입니다
            <div class="text-end">
              <input type="checkbox" id="cookie" />
              <label for="coookie">오늘 하루 보지 않음</label>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              onclick="closeModal()"
            >
              Close
            </button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>

    <script>
      const myModal = new bootstrap.Modal("#exampleModal"); //여기엔 css 선택자가 들어가야 한다
      console.log(myModal);
      console.log("popup >>", "<%= popup %>");
      // popup 쿠키 값이 ''라면 (쿠키설정 아직 x일때), 모달 보여주기 (조건문 사용)
      if ("<%= popup %>" === "") {
        myModal.show();
      }

      //close 버튼 클릭 했을 때 실행할 함수
      function closeModal() {
        console.log("btn click!");
        //(1)만약 체크박스가 체크되어 있다면 ( "오늘 하루 보지 않음"에 체크 했음 )
        //POST / setCookie 으로 요청을 보냄(백에서 popup에 대한 쿠키를 설정한다)
        //요청을 사용한다? axio을 사용한다는 것 (cdn으로 불러옴)

        const checkbox = document.getElementById('cookie');
        console.dir(checkbox.checked)
        if (checkbox.checked) {
            axios ({
                method: 'POST',
                url: '/setCookie'
            }).then ((res) => {
                console.log('res.data >>', res.data);
            })
        }

        //(2) 모달 닫기
        myModal.hide();
      }
    </script>
  </body>
</html>
