<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="">
      <input type="text" name="id" id="name2" method="get" />
      <label for="name2">이름</label>
      <br />

      <fieldset>
        <legend>성별</legend>
        <input type="radio" name="gender" method="get" id="male" />
        <label for="male">남성</label>
        <input type="radio" name="gender" method="get" id="female" />
        <label for="female">여성</label>
      </fieldset>

      <br />
      <fieldset>
        <legend>생년월일</legend>
        <input type="select" name="birth" method="get" id="trip"/>
        <label for="trip">여행</label>
       
      </fieldset>

      <fieldset>
        <legend>관심사</legend>
        <input type="checkbox" name="birth" method="get" id="trip"/>
        <label for="trip">여행</label>
        <input type="checkbox" name="birth" method="get" id="fashion"/>
        <label for="trip">패션</label>
        <input type="checkbox" name="birth" method="get" id="music"/>
        <label for="trip">음악2</label>
      </fieldset>

    </form>
  </body>
</html>
