<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
      body {
        background-color: beige;
      }

      .profile {
        border-radius: 50%;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>

    <h2>Single file upload</h2>
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="userfile" /> <br />
      <input type="text" name="title" /> <br />
      <button type="submit">업로드</button>
    </form>
    <!-- form안에서의 버튼은 기본값은 submit -->

    <h2>Multi file upload (ver1)</h2>
    <p>하나의 input에 여러개 파일 업로드하기</p>
    <form action="/upload/array" method="POST" enctype="multipart/form-data">
      <input type="file" name="userfiles" multiple /><br />
      <input type="text" name="title" /><br />
      <button type="submit">업로드</button>
    </form>

    <h2>multi file upload (ver2)</h2>
    <p>여러개의 input에 각각 파일 업로드 하기</p>
    <form action="/upload/fields" method="POST" enctype="multipart/form-data">
      <input type="file" name="userfile1" /><br />
      <input type="text" name="title1" /><br />
      <input type="file" name="userfile2" /><br />
      <input type="text" name="title2" /><br />
      <button type="sumbit">업로드</button>
    </form>

    <h2>동적 파일 업로드</h2>
    <input type="file" name="dynamicFile" id="dynamicFile" />
    <button type="button" onclick="fileUpload();">업로드</button>
    <br />
    <img src="" alt="추가된 이미지" width="200px" />

    <!-- form태그를 안만든 이유는 자바스크립에서 써서 보내보려고 자바스크립트에서 만든
타임을 보내준다? -->
    <script>
      function fileUpload() {
        console.log("click fileupload");

        const formData = new FormData(); // 폼 객체 생성
        const file = document.getElementById("dynamicFile"); // file input

        console.dir(file); // file input
        console.dir(file.files[0]); // file input에 들어간 파일 정보

        // formData.append(name, value);
        // - input의 name과 input의 value
        formData.append("dynamicFile", file.files[0]);

        // axios 통신
        axios({
          method: "POST",
          url: "/dynamicFile",
          data: formData,
          headers: {
            "Content-Type": "multipart/form-data", // enctype="multipart/form-data"
          },
        }).then(function (response) {
          // response: 클라이언트가 POST /dynamicFile 요청을 보낸 응답 결과
          console.log(response);
          console.log(response.data);
          document.querySelector("img").src = response.data.path;
          document.querySelector("img").classList.add("profile");
        });
      }
    </script>
  </body>
</html>
