<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>์ค์ต ํ์ด</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      ์ค์ต๋ฌธ์์ ๋ํ ํ์ด๋ ์์ฃผ ๋ค์ํฉ๋๋ค! ํด๋น ํ๋ก์ํธ ๋ํ ๋ค์ํ ํ์ด
      ๋ฐฉ๋ฒ ์ค ํ๋์ผ ๋ฟ์ด๋ ์ฐธ๊ณ์ฉ์ผ๋ก ๋ด์ฃผ์ธ์๐
    </p>
    <a href="/practice26">์ค์ต26 ์ด๋</a>
    <a href="/practice27">์ค์ต27 ์ด๋</a>
  </body>
</html>
