<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>채팅프로그램</title>

    <script
      src="https://cdn.socket.io/4.5.3/socket.io.min.js"
      integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi"
      crossorigin="anonymous"
    ></script>
    <style>
      body {
        /* background-color: rgb(128, 184, 184); */
        background: linear-gradient(45deg, white, rgb(103, 177, 177));
      }

      /* .chat-box {
        height: 100%;
      } */
      .chat-list {
        background-color: white;
        width: 40%;
        height: 600px;
        padding: 10px;
        overflow-y: auto;
        border-radius: 30px;
        /* margin: auto; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .chat-list div {
        margin-top: 3px;
      }

      .chat-list div div {
        display: inline-block;
        padding: 3px;
      }

      .my-chat {
        text-align: right;
      }

      .my-chat div {
        background-color: rgb(176, 226, 222);
        border-radius: 10px 0 10px 10px;
      }

      .other-chat div {
        background-color: rgb(235, 233, 233);
        border-radius: 10px 0 10px 10px;
      }

      .notice {
        text-align: center;
        color: navy;
        font-size: 12px;
      }

      .d-none {
        display: none;
      }

      .entry-box {
        position: absolute;
        margin-left: 30%;
        top: 15%;
      }

      .sendbtn {
        position: absolute;
        margin-left: 30%;
        top: 82.5%;
      }
    </style>
  </head>
  <body>
    <!-- [실습44-2] 채팅창 입장 문구 안내 socket.it -> nickname -->
    <div class="entry-box">
      <input type="text" id="nickname" placeholder="닉네임" autofocus />
      <button type="button" onclick="entry();">입장</button>
    </div>

    <!-- [실습43] 채팅창 UI 만들기 -->
    <div class="chat-box d-none">
      <div id="chat-list" class="chat-list">
        <!-- [실습43] 임시 데이터 -->
        <!-- <div class="my-chat">
        <div>user1: msg1</div>
      </div>
      <div class="other-chat">
        <div>user2: msg2</div>
      </div>
      <div class="notice">xx가 입장했습니다.</div> -->
      </div>

      <div class="sendbtn">
        <select id="nick-list">
          <!-- <option value="all">전체</option>
      <option value="socketId1">nick1</option>
      <option value="socketId2">nick2</option> --></select
        >에게
        <input type="text" onkeypress="enter(event)" id="message" />
        <button type="button" id="messageEnter" onclick="send();">전송</button>
      </div>
    </div>

    <script>
      let socket = io.connect(); // socket 사용을 위한 객체 생성
      let myNick; // 내 닉네임 설정
      let messageEnter;

      socket.on("connect", () => {
        console.log("**** ⭕ Client Socket Connected >>", socket.id);
      });

      // [실습44] 채팅창 입장 안내 문구
      // notice 이벤트를 받아서 공지 문구를 출력
      socket.on("notice", (msg) => {
        console.log("socket on notice >> ", msg);

        document
          .querySelector("#chat-list")
          .insertAdjacentHTML("beforeend", `<div class="notice">${msg}</div>`);
      });

      // [실습44-2] 채팅창 입장 안내 문구 socket.id -> nickname
      function entry() {
        // console.log(document.querySelector('#nickname').value);
        socket.emit("setNick", document.querySelector("#nickname").value);
      }

      socket.on("entrySuccess", (nick) => {
        myNick = nick;
        console.log("myNick >> ", myNick);

        // 입력창 비활성화
        document.querySelector("#nickname").disabled = true;
        // [입장] 버튼 비활성화
        document.querySelector(".entry-box > button").disabled = true;
        // 채팅 박스를 보여줌
        document.querySelector(".chat-box").classList.remove("d-none");
      });

      socket.on("error", (data) => {
        alert(data);
      });

      //[실습 45] 채팅창 메세지 전송 step1
      // "send" 이벤트전송하기
      function send() {
        const data = {
          myNick: myNick, //entrySuccess 이벤트에서 입장 성공시 설정하는 내 닉네임
          dm: document.querySelector("#nick-list").value, //현재 선택된 select 값
          msg: document.querySelector("#message").value,
        };
        socket.emit("send", data);
        // console.log('socket on send >>',data);
        document.querySelector("#message").value = "";
      }

      // [실습45] 채팅창 메세지 전송 Step2
      // "newMessage" 이벤트를 전달받기 { 닉네임, 메세지내용 }
      // data => { nick: 'a', msg: 'hello' }
      // socket.on("newMessage", (data) => {
      //   console.log("socket on newMessage >> ", data); //{nick : 'a', dm: 'all' | 특정닉네임, msg : 'cc'}
      // [실습45] 채팅창 메세지 전송 Step2
      // "newMessage" 이벤트를 전달받기 { 닉네임, 메세지내용 }
      // data => { nick: 'a', msg: 'hello' }
      socket.on("newMessage", (data) => {
        console.log("socket on newMessage >> ", data);

        // 생성해야할 채팅 html 구조
        // <div class="my-chat">
        //   <div>user1: msg1</div>
        // </div>
        // <div class="other-chat">
        //   <div>user2: msg2</div>
        // </div>
        let chatList = document.querySelector("#chat-list"); // #chat-list 선택
        let div = document.createElement("div"); // .my-chat or .other-chat 생성
        // <div></div>
        let divChat = document.createElement("div"); // 가장 안쪽 div (메세지 박스) 생성
        // <div></div>

        // 새 메세지(data => { nick: 'a', msg: 'hello' })가 도착했는데
        // myNick에 저장된 현재 내 닉네임과
        // 새 메세지(data)의 nick이 같다면, 내가 보낸 채팅
        // 새 메세지(data)의 nick이 다르면, 상대방이 보낸 채팅
        if (myNick === data.nick) {
          div.classList.add("my-chat"); // <div class="my-chat"></div>
        } else {
          div.classList.add("other-chat"); // <div class="other-chat"></div>
        }

        // [실습46] DM 기능 추가
        console.log("send data check >> !!!!", data);
        // 전체: { nick: 'a', msg: 'xx' }
        // dm: { nick: 'a', msg: 'xx', dm: '(속닥속닥) ' }
        if (data.dm) {
          div.classList.add("secret-chat");
          divChat.textContent = data.dm; // (속닥속닥) 글자 추가
        }

        divChat.textContent += `${data.nick} : ${data.msg}`; // <div>(속닥속닥) nick : msg</div>
        div.append(divChat);
        chatList.append(div);
        chatList.scrollTop = chatList.scrollHeight;
      });

      function enter(e) {
        if (e.keyCode == 13) {
          document.querySelector("#messageEnter").click();
          document.querySelector("#message").value = "";
        }
      }

      // [실습46] DM 기능 추가
      socket.on("updateNicks", (nickArray) => {
        console.log("socket on updateNicks >> ", nickArray);

        // 유저목록 하나하나를 option태그로 만들어서 select에 추가
        // select 태그 내부에 추가되어야 할 코드 형식
        // <option value="all">전체</option>
        // <option value="socketId1">nick1</option>
        // <option value="socketId2">nick2</option>
        let options = `<option value="all">전체</option>`; // 모든 option 태그들 저장할 변수

        // 1. 반복문 사용해서 option 태그 하나하나 완성
        for (const key in nickArray) {
          options += `<option value="${key}">${nickArray[key]}</option>`; // x += 1
        }

        // 2. select 태그에 option 태그들을 추가
        document.querySelector("#nick-list").innerHTML = options;
      });
    </script>
  </body>
</html>
