<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>

    <!-- axios cdn추가 -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <title>Document</title>
  </head>
  <body>
    <h1><%= title %></h1>

    <form action="" name="register">
      <input type="text" name="id" id="name" />
      <label for="name">이름</label>
      <br />

      성별

      <input type="radio" name="gender" id="male" value="m" />
      <label for="male">남성</label>
      <input type="radio" name="gender" id="female" value="f" />
      <label for="female">여성</label>

      <!-- <br />
      <button type="button" onclick="ajaxGet();">ajax get 제출</button>
      <button type="button" onclick="ajaxPost();">ajax post 제출</button> -->
      <br />
      <button type="button" onclick="axiosGet();">axiosGet 제출</button>
      <button type="button" onclick="axiosPost();">axiosPost 제출</button>
      <br />
      <!-- <button type="button" onclick="fetchGet();">fetchGet 제출</button>
      <button type="button" onclick="fetchPost();">fetchPost 제출</button> -->
    </form>

    <div class="result"></div>

    <script>
      const resultBox = document.querySelector(".result");
      function ajaxGet() {
        console.log("####### click ajaxGet#######");
        //폼 선택하기
        const form = document.forms["register"];
        console.log(form);

        //폼 객체 요소 및 요소값 확인하기
        console.log(form);
        console.log(form.name); //input name
        console.log(form.gender); //input radio
        console.log(form.name.value);
        console.log(form.gender.value);

        const data = {
          name: form.name.value,
          gender: form.gender.value,
        };

        //AJAX 비동기 통신 - GET 요청 /ajax 경로로 요청 보내기
        $.ajax({
          type: "GET", //요청 종류 //객체기 때문에 쉼표 필수!!
          url: "/ajax", //요청할 서버 주소
          data: data, //보낼 데이터

          success: function (data) {
            //data : app.js의 req.query
            console.log("ajax get:", data);
            resultBox.textContent = `GET / ajax 요청완료!! ${data.name}님은${data.gender}이시죠?`;
            resultBox.style.color = "blue";
          },
        });
      }

      function ajaxPost() {
        console.log("###### click ajaxPost ######");

        //폼 선택하기
        const form = document.forms["register"];

        //폼 요소값 확인하기
        console.dir(form);
        console.dir(form.name);
        console.dir(form.gender);
        console.dir(form.name.value);
        console.dir(form.gender.value);

        const data = {
          name: form.name.value,
          gender: form.gender.value,
        };
        //AJAX 비동기 통신 -POST / ajax 요청 보내기

        $.ajax({
          type: "POST",
          url: "/ajax",
          data: data,
          success: function (data) {
            //data : app.js의 req.body //프론트 코드니까 console창에 찍힘
            console.log(data);
            resultBox.textContent = `POST/ ajax 요청완료!! ${data.name}님은${data.gender}맞으시죠?`;
            resultBox.style.color = "violet";
          },
        });
      }

      function axiosGet() {
        console.log("####### click axiosGet #######");

        const form = document.forms["register"];
        console.log(form);
        console.log(form.name); // input name
        console.log(form.gender); // input gender

        console.log("여기여기", form.name.checkValidity()); // input name
        console.log("여기여기", form.gender[0].checkValidity()); // input gender
        // console.log('여기여기', form.gender[1].checkValidity()); // input gender

        const data = {
          name: form.name.value,
          gender: form.gender.value,
        };

        // AXIOS 비동기 통신 - GET /axios 요청
        // 사용자의 입력이 올바르지 않다면, axios 요청 시도 x
        // 사용자의 입력이 올바르다면, axios 요청 시도

        if (
          form.name.checkValidity() === true &&
          form.gender[0].checkValidity()
        ) {
          axios({
            method: "GET",
            url: "/axios",
            params: data, // GET 요청은 "params"에 정보를 실어서 보내야 됨
          }).then(function (response) {
            // axios는 promise를 반환한다!! -> then 메서드 사용
            console.log(response); // 서버의 응답결과
            console.log(response.data); // res.send(req.query)
            console.log(response.data.name);
            console.log(response.data.gender);

            resultBox.textContent = `GET /axios 요청 완료!! ${response.data.name}님은 ${response.data.gender}이시죠?ㅎㅎ`;
            resultBox.style.color = "green";
          });
        } else {
          resultBox.textContent = "입력값을 올바르게 채워주세요";
          resultBox.style.color = "red";
        }
      }

      function axiosPost() {
        console.log("####### click axiospost #######");

        const form = document.forms["register"];
        const data = {
          name: form.name.value,
          gender: form.gender.value,
        };

        axios({
          method: "POST",
          url: "/axious",
          data: data, // POST 요청은 "data"에 정보를 실어서 보내야 됨
        }).then(function (response) {
          console.log(response);
          console.log(response.data);

          resultBox.textContent = `POST /axios 요청 완료 ${response.data.name}님은 ${response.data.gender}이시죠?`;
          resultBox.style.color = "gold";
        });
      }

      //fetch는 (url,option) 을 넣을 수 있다
      function fetchGet() {
        console.log("####### click fetchGet #######");

        const form = document.forms["register"];

        fetch(`/fetch?name=${form.name.value}&gender=${form.gender.value}`, {
          method: "GET",
        })
          .then(function (response) {
            console.log(response);
            return response.json(); // 응답을 json 형태로 파싱 (변환)
          })
          .then(function (data) {
            console.log(data);
            resultBox.textContent = `GET /fetch 요청 완료!! ${data.name}님은 ${data.gender}이시죠?ㅎㅎ`;
            resultBox.style.color = "limegreen";
          });
      }

      function fetchPost() {
        console.log("####### click fetchPost #######");

        const form = document.forms["register"];
        const data = {
          name: form.name.value,
          gender: form.gender.value,
        };

        // fetch(url, option).then().then()
        fetch("/fetch", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        })
          .then(function (response) {
            console.log(response);
            return response.json();
          })
          .then(function (data) {
            console.log(data);
            resultBox.textContent = `POST /fetch 요청 완료!! ${data.name}님은 ${data.gender}이시죠?ㅎㅎ`;
            resultBox.style.color = "hotpink";
          });
      }
    </script>
  </body>
</html>
