/* COMMON */

body{
  font-family: 'Orbitron', sans-serif;
  background-color: rgb(243, 217, 131);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #555;
}

a:visited {
  color: #555;
}

/* SECTION.WRAP */
.wrap {
  width : 340px;
  padding : 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 19px 10px 30px rgb(0, 0, 0,0.1);
  /* 다음 시간에 배우게 될 속성입니다 :) 카드를 body 태그의 정가운데 배치하는 코드예요. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.wrap .profile p {
  font-size: 14px;
  color : rgb(196, 174, 174);
  line-height: 1;
  margin-bottom: 20px;
}

.wrap .profile {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.wrap .contact li span {
  font-size: 13px;
}


.wrap .profile img{
  width: 200px;
  height: 200px;
  border-radius: 50;
  box-shadow: 5px 10px 30px rgb(240, 188, 19);
  border-radius: 100px;
}

.wrap .profile h1 {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin : 20px 0px 10px 0px
}

/* ARTICLE.PROFILE */
.wrap .profile .btnView {
  /* 다음 시간에 배우게 될 속성입니다 :) .btnView 요소(a태그)를 block 요소로 만들어줘요 */
  /* 블록 요소가 되었으므로 width, height 속성 사용이 가능해요. width, height 를 이용해 버튼 크기를 지정해주세요! */
  display: block;
  background: rgb(255, 178, 35);
  box-shadow: 5px 10px 20px rgba(255, 166, 0, 0.4);
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.6);
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;

  color: white;
  border-radius: 16px;
}

/* UL.CONTACT */

.wrap .contact li:last-child {
  border-bottom: none;
}

.wrap .contact  {
  margin-bottom: 25px;
  
}

.wrap .contact li i {
  /* width: 20%; */
  /* text-align: center; */
  margin: 0 20px;
  color: #555;
  font-size: 15px;
  text-shadow: 2px 2px 2px #ddd;
 
}

.wrap .contact li {
  width : 100%;
  padding : 15px 0px;
  border-bottom: 1px solid #ddd;
}


.wrap .others{
  text-align: center;
  margin-bottom:20px;
}



.wrap .others a { 
  display: inline-block;
  /* inline-block을 쓴 이유는???  */
  width: 30px;
  height: 30px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 0px 10px;
  /* 다음 시간에 배우게 될 속성입니다 :) .others 요소 하위에 있는 a 태그들(3개)을 inline-block 요소로 만들어줘요 */
  /* 인라인-블록 요소도 블록요소와 마찬가지로 width, height 속성 사용이 가능해요. width, height 를 이용해 버튼 크기를 지정해주세요! */
  
}

/* 다음 시간에 배우게 될 선택자입니다 :) nth-of-type() 은 가상선택자로, 몇 번째 요소인지 판단하는 요소예요. */
/* a.on:nth-of-type(n) 은 a태그이자 .on 클래스를 갖는 n번째 요소를 선택해줍니다. */
.wrap .others a.on:nth-of-type(1) {
  
  background-color: orange;
  box-shadow: 5px 5px 10px rgb(255, 165, 0, 0.5);
  /* 이 곳에 필요한  style을 선언해주세요. */
}

.wrap .others a.on:nth-of-type(2) {
  /* 이 곳에 필요한  style을 선언해주세요. */
}

.wrap .others a.on:nth-of-type(3) {
  /* 이 곳에 필요한  style을 선언해주세요. */
}

/* HINT: index.html 먼저 완성한 후, member_2.html, member_3.html에서 변경되는 css 속성(ex. 배경색 등)을 아래에 추가해주세요! */
/* MEMBER_2 CUSTOM */

/* MEMBER_3 CUSTOM */
